<header>
    <a href="#profile">
        <div data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="name">Ro
            <div class="letter-ki"><img src="./../../../assets/img/kI.png"></div>
            <div class="letter-k"><img src="./../../../assets/img/k.png"></div>en
        </div>
    </a>
    <div class="links">
        <a data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000" href="#aboutme">About me</a>
        <a data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000" href="#skills">Skills</a>
        <a data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000" href="#portfolio">Portfolio</a>
    </div>
</header>