<header>
    <a class="first-name" href="#profile">
        <div data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="name">Ro
            <div class="letter-ki"><img src="./../../../assets/img/kI.png"></div>
            <div class="letter-k"><img src="./../../../assets/img/k.png"></div>en
        </div>
    </a>
    <div class="links">
        <img src="./../../../assets/img/burger-menu.png" (click)="toggleMenu()">
        
        <a data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000" href="#aboutme">About me</a>
        <a data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000" href="#skills">Skills</a>
        <a data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000" href="#portfolio">Portfolio</a>
        <div class="translate" ><img src="./../../../assets/img/english.png"></div>
    </div>

    <div class="links-responsive" [ngClass]="{'open': menuOpen}">
        <img src="./../../../assets/img/close.png" (click)="toggleMenu()">
        <div>
            <a href="#aboutme">About me</a>
            <a href="#skills">Skills</a>
            <a href="#portfolio">Portfolio</a>
        </div>
    </div>
</header>