header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1900px;
  height: 100px;
  background-color: rgba(20, 29, 47, 1);

  > a {
    text-decoration: none;
  }

  .name {
    z-index: 1000;
    display: flex;
    margin-left: 64px;
    font-size: 40px;
    font-weight: 900;
    >span{
      color: rgba(0, 190, 232, 1);
    }

    .letter-k {
      width: 16px;
      height: 25px;

      > img {
        width: 16px;
        height: 24px;
      }
    }
    .letter-ki {
      width: 6px;
      height: 26.35px;
      > img {
        width: 9.88px;
        height: 26px;
      }
    }
  }

  .links {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-right: 64px;
    > a {
      font-size: 20px;
      text-align: center;
      text-decoration: none;
      font-weight: 400;
      &:hover {
        color: rgba(0, 190, 232, 1);
        text-decoration: underline rgba(0, 190, 232, 1) ;
      }
    }

    > img {
      display: none;
      cursor: pointer;
    }
  }
}

.links-responsive {
  position: fixed;
  right: -100%;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 29, 47, 0.9);
  transition: right 0.3s ease-in-out;
  z-index: 1000;

  &.open {
    right: 0;
  }

  > img {
    position: absolute;
    top: 34px;
    right: 62px;
    cursor: pointer;
  }

  > div {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      color: white;
      font-size: 24px;
      margin: 15px 0;
      text-decoration: none;
    }
  }
}

.translate {
  > img {
    width: 45px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;
  }
}

// media //////////////////

@media (max-width: 950px) {
  .translate{
    margin-right: 24px;
  }
  .links {
    width: auto !important;
    > a {
      display: none;
    }
    > img {
      display: block !important;
    }
  }
}

@media (max-width: 650px) {
  .name {
    margin-left: 24px !important;
  }
  .links{
    margin-right: 10px !important;
    > img{
      width: 24px !important;
      height: 24px !important;
  }
  .translate{
    >img{
      width: 24px !important;
      height: 24px !important;
    }
  }
}

  .links-responsive {
    > img {
      right: 3px;
    }
  }
}
