<header>
    <a class="first-name" href="#profile">
        <div class="name">Ro
            <div class="letter-ki"><img src="./../../../assets/img/kI.png"></div>
            <div class="letter-k"><img src="./../../../assets/img/k.png"></div>en
        </div>
    </a>
    <div class="links">
        <div (click)="switchLanguage(currentLanguage)" class="translate">
            <img [src]="'./../../../assets/img/' + currentFlag">
        </div>
        <img src="./../../../assets/img/burger-menu.png" (click)="toggleMenu()">
        
        <a href="#aboutme">{{'About me' | translate}}</a>
        <a href="#skills">{{'frontend' | translate}}</a>
        <a href="#portfolio">Portfolio</a>
    </div>

    <div class="links-responsive" [ngClass]="{'open': menuOpen}">
        <img src="./../../../assets/img/close.png" (click)="toggleMenu()">
        <div>
            <a (click)="toggleMenu()" href="#aboutme">{{'About me' | translate}}</a>
            <a (click)="toggleMenu()" href="#skills">{{'frontend' | translate}}</a>
            <a (click)="toggleMenu()" href="#portfolio">Portfolio</a>
        </div>
    </div>
</header>