section {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  // padding-top: 120px;
  background-color: rgba(20, 29, 47, 1);
  overflow-x: hidden;

  > div {
    position: relative;
    .blue-img1 {
      position: absolute;
      top: 0px;
      left: -15px;
      height: 650px;
      width: 400px;
      transform: rotate(0deg);
    }

    .blue-img2 {
      position: absolute;
      top: 0;
      right: -30px;
      height: 630px;
      width: 273px;
      transform: rotate(187deg);
    }
  }

  .text-button-container {
    width: 90%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    .i-am-container {
      width: 9%;
      font-weight: 400;
      transform: rotate(-90deg);
      white-space: nowrap;
      &.english {
        font-size: 74px;
      }

      &.german {
        font-size: 50px;
      }
      > span {
        margin-left: 40px;
      }
    }

    .name-button {
      display: flex;
      flex-direction: column;

      h1 {
        width: 450px;
        font-size: 90px;
      }

      > span {
        text-align: start;
        font-size: 46px;
        font-weight: 400;
        color: rgba(75, 71, 255, 1);
      }

      > div {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        > a {
          > button {
            width: 150px;
            height: 45px;
            background-color: rgba(0, 190, 232, 1);
            border: 0;
            border-radius: 10px;
            margin-top: 50px;
            cursor: pointer;
            font-size: 16px;
            transition: all 0.3s ease;

            &:hover {
              cursor: pointer;
              background-color: rgba(75, 71, 255, 1);
              width: 160px;
              height: 50px;
            }
          }
        }
      }
    }
  }

  .line-buttons-arrow {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    color: white;
    > div {
      display: flex;
    }
  }

  .line-buttons {
    width: 400px;
    display: flex;
    justify-content: space-between;
  }

  .link {
    width: 36px;
    height: 36px;
    > a {
      > img {
        cursor: pointer;
        width: 30px;
        height: 30px;
        transition: all 0.3s ease;
        &:hover {
          width: 36px;
          height: 36px;
        }
      }
    }
  }
}
.scroll-arrow-container {
  display: flex;
  flex-direction: column;
  transform: rotate(90deg);
  > span {
    white-space: nowrap;
    font-size: 23px;
    font-weight: 400;
    > img {
      height: 24px;
      width: 24px;
      transform: rotate(-90deg);
      margin-left: 10px;
      margin-block: -6px;
    }
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
.pulse {
  animation: pulse 2s infinite;
}

// media //////////

@media (max-width: 1610px) {
  .i-am-container > span {
    margin-left: 20px !important;
  }
  .blue-img1 {
    left: -75px !important;
  }

  .blue-img2 {
    right: -100px !important;
  }
}

@media (max-width: 1400px) {
  .i-am-container {
    span {
      margin-left: 10px !important;
    }
  }
}
@media (max-width: 1285px) {
  .i-am-container {
    &.english {
      font-size: 70px !important;
    }

    &.german {
      font-size: 46px !important;
    }
  }
}

@media (max-width: 1225px) {
  .i-am-container {
    span {
      margin-left: 13px !important;
    }
  }
}
@media (max-width: 1125px) {
  .blue-img2 {
    height: 537px !important;
    width: 230px !important;
  }
  .blue-img1 {
    left: -94px !important;
    height: 521px !important;
    width: 349px !important;
  }
}
@media (max-width: 1090px) {
  .i-am-container {
    > span {
      margin-left: 16px !important;
    }
  }
}

@media (max-width: 940px) {
  .text-button-container {
    width: 100% !important;
  }
  .name-button {
    h1 {
      font-size: 60px !important;
    }

    > span {
      font-size: 35px !important;
    }
  }

  .i-am-container {
    &.english {
      font-size: 51px !important;
    }

    &.german {
      font-size: 34px !important;
    }
    > span {
      margin-left: 33px !important;
    }
  }
}

@media (max-width: 835px) {
  .i-am-container {
    width: 5% !important;
    margin-right: 14px !important;
    margin-top: 35px;
    &.english {
      font-size: 45px !important;
    }

    &.german {
      font-size: 30px !important;
    }
  }

  .blue-img2 {
    height: 376px !important;
    width: 208px !important;
  }

  .blue-img1 {
    height: 492px !important;
    width: 200px !important;
  }
  // .text-button-container {
  //   margin-top: 70px !important;
  // }
}

@media (max-width: 650px) {
  .text-button-container {
    width: 90%;
  }
  h1 {
    width: 250px !important;
  }
  .i-am-container {
    &.english {
      font-size: 34px !important;
      > span {
        margin-left: 42px !important;
      }
    }

    &.german {
      font-size: 23px !important;
      > span {
        margin-left: 39px !important;
      }
    }
  }

  .name-button {
    h1 {
      font-size: 40px !important;
    }

    > span {
      font-size: 22px !important;
    }
  }
}
@media (max-width: 600px) {
  .blue-img1 {
    left: -19px !important;
    height: 492px !important;
    width: 122px !important;
  }
  .blue-img2 {
    right: -54px !important;
    height: 394px !important;
    width: 115px !important;
  }
}
@media (max-width: 500px) {
  .blue-img2 {
    height: 520px !important;
    width: 85px !important;
  }
  .blue-img1 {
    height: 492px !important;
    width: 120px !important;
  }

  .line-buttons {
    width: 269px !important;
  }
  .scroll-arrow-container {
    > span {
      font-size: 18px !important;
    }
  }
}

@media (max-width: 420px) {
  .blue-img2 {
    right: -47px !important;
    height: 468px !important;
    width: 85px !important;
  }
  .text-button-container {
    width: 100%;
    display: flex;
  }
  .name-button {
    h1 {
      width: 178px !important;
      font-size: 30px !important;
    }
    > span {
      font-size: 18px !important;
    }
  }

  .i-am-container {
    &.english {
      font-size: 27px !important;
    }

    &.german {
      font-size: 18px !important;
      > span {
        margin-left: 45px !important;
      }
    }
  }

  .blue-line-mobile {
    > img {
      width: 50px !important;
      margin-right: 20px;
    }
  }
}

@media (max-width: 370px) {
  .link {
    > a {
      > img {
        width: 24px !important;
        height: 24px !important;
        &:hover {
          width: 30px !important;
          height: 30px !important;
        }
      }
    }
  }
  .name-button {
    h1 {
      width: 220px !important;
      font-size: 30px !important;
    }
  }
  .blue-img1 {
    height: 492px !important;
    width: 73px !important;
}
}

