<section >
    <div>
        <div>
            <img class="blue-img1" src="./../../../assets/img/d-blue1.png">
        </div>
        <div class="text-button-container">
            <div class="i-am-container">
                <span>{{'I am' | translate}}</span>
            </div>
            <div class="name-button">
                <h1 data-aos="flip-up" data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">Roken Othman</h1>
                <span>{{'Frontend Developer' | translate}}</span>
                <div data-aos="flip-up"  data-aos-easing="ease-out-cubic"
                data-aos-duration="2000"><a href="#contact"><button>{{"let's talk!" | translate}}</button></a></div>
            </div>
        </div>
        <div>
            <img class="blue-img2" src="./../../../assets/img/l-blue1.png">
        </div>
    </div>
    <div class="line-buttons-arrow">
        <div class="line-buttons">
            <div class="blue-line-mobile"><img src="./../../../assets/img/blue-line.png"></div>
            <div class="link"><img src="./../../../assets/img/github-button.png"></div>
            <div class="link"><img src="./../../../assets/img/email-button.png"></div>
            <div class="link"><img src="./../../../assets/img/linkedin-button.png"></div>
        </div>
        <div class="scroll-arrow-container">
            <span>scroll down<img src="./../../../assets/img/arrow-down-line.png"></span>
        </div>
    </div>
</section>