<section>
    <div>
        <div class="imprint-container">
            <img src="./../../../assets/img/line.png">
            <h1 data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000" >{{'Imprint' | translate}}</h1>
        </div>
        <div class="content">
            <h3>{{'Information in accordance with § 5 TMG' | translate}}</h3>
            <div>
                Roken Othman<br>
                Langerfelder Str.76<br>
                42389 Wuppertal <br><br>
            </div>
            <div>
                <b>{{'Represented by' | translate}}:</b><br>
                Roken Othman<br><br>
            </div>

            <div>
                <b>{{'Kontakt' | translate}}:</b><br>
                Telefon: 017643611217 <br>
                E-Mail: <a href="mailto:roken.othman91@gmail.com">mail&#64;roken-othman.de</a><br><br>
            </div>

            <div>
                Website Impressum von <br>
                <a href="https://www.impressum-generator.de/">impressum-generator.de</a><br>
            </div>
        </div>

    </div>

</section>
<div class="footer-fixed"><app-footer></app-footer></div>