<section>
    <div>
        <div class="imprint-container">
            <img src="./../../../assets/img/line.png">
            <h1 data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000" >Impressum</h1>
        </div>
        <div class="content">
            <h3>Angaben gemäß § 5 TMG</h3><br>
            <div>
                Roken Othman<br>
                Langerfelder Str.76<br>
                42389 Wuppertal <br><br><br>
            </div>
            <div>
                <b>Vertreten durch:</b><br>
                Roken Othman<br><br><br>
            </div>

            <div>
                <b>Kontakt:</b><br>
                Telefon: 017643611217 <br>
                E-Mail: <a href="mailto:roken.othman91@gmail.com">roken.othman91&#64;gmail.com</a><br><br><br>
            </div>

            <div>
                Website Impressum von <br>
                <a href="https://www.impressum-generator.de/">impressum-generator.de</a><br><br>
            </div>
        </div>

    </div>

</section>