<section>
  
    <div class="skills-img-container">
        <div>
            <img class="hover-img" src="./../../../assets/img/angular-icon.png">
            <span>Angular</span>
        </div>
        <div>
            <img class="height hover-img" src="./../../../assets/img/ts-icon.png">
            <span>TypeScript</span>
        </div>
        <div>
            <img class="height hover-img" src="./../../../assets/img/js-icon.png">
            <span>JavaScript</span>
        </div>
        <div>
            <img class="hover-img" src="./../../../assets/img/html-icon.png">
            <span>HTML</span>
        </div>
        <div>
            <img class="hover-img" src="./../../../assets/img/firebase-icon.png">
            <span>Firebase</span>
        </div>
        <div>
            <img class="height hover-img" src="./../../../assets/img/git-icon.png">
            <span>GIT</span>
        </div>
        <div>
            <img class="hover-img" src="./../../../assets/img/css-icon.png">
            <span>css</span>
        </div>
        <div>
            <img class="height hover-img" src="./../../../assets/img/api-icon.png">
            <span>Rest-API</span>
        </div>
        <div>
            <img class="hover-img" src="./../../../assets/img/scrum-icon.png">
            <span>Scrum</span>
        </div>
        <div>
            <img class="height hover-img" src="./../../../assets/img/material-design-icon.png">
            <span>Material design</span>
        </div>
    </div>
    <div class="text-container">
        <div>
            <h1 data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine">My skills</h1>
            <p>I have grown my frontend developments skills that have allowed me to create different real projects.</p>
            <div data-aos="flip-up"  data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"><a href="#contact"><button>Get in Touch</button></a></div>
        </div>
        <div class="line"><img src="./../../../assets/img/line.png"></div>
    </div>
    <div class="background-color"></div>
</section>