<section>
    <div>
        <div class="reference-img-container">
            <div data-aos="zoom-in-up" data-aos-offset="300" data-aos-easing="ease-in-sine" class="reference-container">
                <p>{{referance[currentIndex].ref | translate}}</p>
                <div>
                    <img src="./../../../assets/img/line.png">
                    <span>{{referance[currentIndex].name}} - {{"Team Partner" | translate}}</span>
                </div>
            </div>

            <div class="img-container">
                <div>
                    <img class="colleague-img {{ currentIndex == 0 ? 'img-width' : '' }}" src="{{ referance[currentIndex].img }}">
                </div>
                <img class="img2" src="./../../../assets/img/line.png">
            </div>
        </div>
        <div class="arrow-container">
            <div class="sub-arrow-container">
                <div (click)="previousReferance()" class="image-container left-arrow"></div>
                @for(referance of referance; track referance.name; let index = $index){
                <div [ngClass]="{'pointDarkBlue': currentIndex === index, 'pointLightBlue': currentIndex !== index}"></div>
                }
                <div (click)="nextReferance()" class="image-container right-arrow"></div>
            </div>
        </div>
    </div>
</section>