<section>
    <div class="reference-img-container">
    <div class="reference-container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ullam beatae explicabo tempore fugit cumque aspernatur nisi repellat saepe, fugiat cum esse dolorem quo iste dicta at, culpa sit a!</p>
        <div>
            <img src="./../../../assets/img/line.png">
            <span>A.Othman - Team Partner</span>
        </div>

    </div>
    <div class="img-container">
        <img src="./../../../assets/img/colleague.png">
        <img class="img2" src="./../../../assets/img/blue-line.png">
    </div>
    <div>
        <img>
        <div></div>
        <div></div>
        <div></div>
        <img>
    </div>
</div>
</section>