section {
  position: relative;
  background-color: rgba(20, 29, 47, 1);
  padding-bottom: 64px;
  padding-top: 120px;
  z-index: 22;
}

section::before {
  background-image: url("./../../../assets/img/l-blue1.png");
  content: "";
  position: absolute;
  width: 388px;
  height: 558px;
  background-position: 100% top;
  background-size: 48% 71%;
  background-repeat: no-repeat;
  z-index: -20;
  left: -209px;
}

.reference-img-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.reference-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px 20px 10px 20px;
  width: 45%;
  height: 220px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 30px;
  border: 4px solid rgba(0, 190, 232, 1);
  > div {
    > img {
      width: 250px;
      height: 2px;
      margin-right: 20px;
    }
  }
}
.img-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 64px;
  >div{
    display: flex;
  justify-content: center;
  align-items: center;
    width: 180px;
    height: 180px;
    border: 2px solid rgba(0, 190, 232, 1);
    border-radius: 50%;
    overflow: hidden;
  }
}
.img2 {
  width: 150px;
  height: 4px;
}

.colleague-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img-width{
  width:140%;
  margin-top:35px;
}

.arrow-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .sub-arrow-container {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .pointLightBlue {
      width: 7px;
      height: 7px;
      background-color: rgba(0, 190, 232, 1);
      border-radius: 50%;
    }
    .pointDarkBlue {
      width: 7px;
      height: 7px;
      background-color: rgba(75, 71, 255, 1);
      border-radius: 50%;
      box-shadow: 0px 0px 10px rgba(75, 71, 255, 1);
    }
  }
}

.image-container {
  width: 50px;
  height: 50px;
  background-size: cover;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.left-arrow {
  background-image: url("./../../../assets/img/arrow-left-referance.svg");
}

.right-arrow {
  background-image: url("./../../../assets/img/arrrow-right-referance.svg");
}

.left-arrow:hover {
  background-image: url("./../../../assets/img/arrow-left-referance-frame.svg");
}

.right-arrow:hover {
  background-image: url("./../../../assets/img/arrow-right-referance-frame.svg");
}

// media/////
@media (max-width: 1285px) {
  .reference-container {
    width: 60% !important;
  }
  .arrow-container {
    margin-top: 41px !important;
    width: 60% !important;
  }
}

@media (max-width: 1174px) {
  .reference-container {
    margin-left: 24px !important;
  }
}

@media (max-width: 1030px) {
  .reference-container {
    > p {
      font-size: 14px !important;
    }
  }
}

@media (max-width: 970px) {
  .reference-img-container {
    flex-direction: column-reverse !important;
    justify-content: unset !important;
    align-items: unset !important;
  }
  .img-container {
    margin-bottom: 30px !important;
  }

  .reference-container {
    margin-right: 40px;
    width: 89% !important;
  }
  .arrow-container {
    width: 89% !important;
  }
}

@media (max-width: 800px) {
  .reference-container {
    height: 250px !important;
  }
  .reference-container {
    > div {
      > img {
        width: 200px !important;
      }
    }
  }

  .reference-container {
    width: 84% !important;
  }
}

@media (max-width: 635px) {
  .reference-container {
    height: 281px !important;
    width: 75% !important;
    > div {
      > img {
        width: 150px !important;
      }
    }
  }
}

@media (max-width: 560px) {
  .reference-container {
    height: 281px !important;
    > div {
      display: flex !important;
      flex-direction: column !important;
      justify-content: start !important;
      align-items: start !important;
      width: 100% !important;
      > img {
        margin-bottom: 10px !important;
      }
    }
  }
}

@media (max-width: 490px) {
  .reference-container {
    height: 350px !important;
  }
}

@media (max-width: 408px) {
  .reference-container {
    height: 400px !important;
  }
}

@media (max-width: 360px) {
  .reference-container {
    width: 68% !important;
    height: 500px !important;
  }
}

@media (max-width: 335px) {
  .reference-container {
    height: 550px !important;
  }
}
