<section>
    <div class="background-color">
    </div>
    <div class="background">
        <img class="img1" src="./../../../assets/img/d-blue2.png">
        <img class="img2" src="./../../../assets/img/l-blue2.png">
    </div>
    <div class="line-h1-container">
        <img src="./../../../assets/img/blue-line.png">
        <h1 data-aos="fade-up" data-aos-duration="2000">Portfolio</h1>
    </div>
    <p>{{"Explore a selection of my work here - Interact with projects to see my skills in action." | translate}}</p>
    <div>
        @for(project of projects; track project.name; let index = $index){
        <div class="project-container project{{index}}">
            @if(index !== 1){
            <img data-aos="zoom-in" data-aos-duration="2000" src="{{project.img}}">
            }
            <div>
                <h2>{{project.name}}</h2>
                <div class="tech-container">
                    @for(tech of project.techs; track tech; let techIndex = $index){
                    <span>{{tech}}</span>
                    @if(techIndex < project.techs.length - 1){ <div class="horizontal-line">
                </div>
                }
                }
            </div>
            <p>{{project.description | translate}}</p>
            <div class="buttons-container">
                <div>
                    <a href="{{project.button1}}" target="_blank">
                        <button>Live test</button>
                    </a>
                </div>
                <div>
                    <a href="{{project.button2}}" target="_blank">
                        <button class="github-button">Github</button>
                    </a>
                </div>
            </div>
        </div>
        @if(index === 1){
        <img data-aos="zoom-in" data-aos-duration="2000" src="{{project.img}}">
        }

    </div>
    }
    </div>
</section>