section {
  height: auto;
  .background-color {
    padding-top: 120px;
    background-color: rgba(20, 29, 47, 1);
    z-index: 25;
  }
  > p {
    margin-left: 64px;
  }
}

.background {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  max-width: 1900px;
  height: 85%;
  z-index: -1;
  background-color: rgba(20, 29, 47, 1);

  > .img1 {
    position: relative;
    margin-top: 87px;
    max-width: 1900px;
    width: 30%;
    height: 40%;
    left: -114px;
  }
  > .img2 {
    position: relative;
    margin-top: 14px;
    max-width: 1900px;
    width: 21%;
    height: 72%;
    right: 0;
    overflow: hidden;
    z-index: 30;
  }
}
.background2 {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  > img {
    position: relative;
    width: 250px;
    right: 0;
    top: 2000px;
  }
}

.line-h1-container {
  display: flex;
  > img {
    width: 80px;
    height: 4px;
    margin-top: 50px;
    margin-right: 32px;
  }
}

.project-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    width: 50%;
  }
  > div {
    width: 30%;
  }
}

.tech-container {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-top: 16px;
  > span {
    color: rgba(0, 190, 232, 1);
    font-size: 20px;
    font-weight: 400;
  }
}

h2 {
  font-size: 28px;
  color: rgba(75, 71, 255, 1);
}

.horizontal-line {
  margin-left: 8px;
  margin-right: 8px;
  width: 2px;
  height: 24px;
  background-color: rgba(0, 190, 232, 1);
}

.buttons-container {
  display: flex;
  justify-content: space-between;

  > div {
    margin-top: 16px;
    height: 50px;
    margin-right: 32px;
    >a{
    > button {
      font-size: 18px;
      width: 150px;
      height: 45px;
      background-color: rgba(75, 71, 255, 1);
      border: 0;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        cursor: pointer;
        background-color: rgba(0, 190, 232, 1);
        width: 160px;
        height: 50px;
      }
    }
  }

    .github-button {
      background-color: rgba(20, 29, 47, 1) !important;
      border: 1px solid rgba(0, 190, 232, 1) !important;
    }
  }
}

// media /////

@media (max-width: 1607px) {
  .background {
    height: 170%;
  }
}
@media (max-width: 1300px) {
  .background {
    height: 156%;
  }
}

@media (max-width: 1170px) {
  .project-container {
    width: 100% !important;
    margin-top: 20px !important;
  }
}
@media (max-width: 1000px) {
  .tech-container {
    margin-bottom: 8px !important;
    margin-top: 8px !important;
    > span {
      font-size: 16px !important;
    }
    > p {
      font-size: 14px !important;
    }
  }

  .project-container {
    > div {
      > p {
        font-size: 14px !important;
      }
    }
  }
}

@media (max-width: 940px) {
  .project-container {
    flex-direction: column !important;
    margin-bottom: 40px !important;
  }
  .background {
    height: 244% !important;
  }
  h1 {
    font-size: 40px !important;
  }
  .line-h1-container {
    > img {
      margin-top: 25px !important;
    }
  }
  .project1 {
    flex-direction: column-reverse !important;
  }
  .line-h1-container {
    > img {
      margin-top: 21px !important;
    }
  }
  .background {
    height: 226% !important;
  }
}

@media (max-width: 680px) {
  .project-container {
    > img {
      width: 60% !important;
    }
  }
  .project-container {
    > div {
      width: 51% !important;
    }
  }
  section {
    > p {
      margin-right: 24px !important;
    }
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 30px !important;
  }
  .project-container {
    > div {
      > p {
        font-size: 14px !important;
      }
    }
  }

  .buttons-container {
    > div {
      >a{
      > button {
        font-size: 14px !important;
        width: 100px !important;
        height: 30px !important;
        &:hover {
          width: 110px !important;
          height: 35px !important;
        }
      }
    }
  }
  }
  .buttons-container {
    display: flex !important;
    justify-content: unset !important;
  }
  .background {
    > .img1 {
      width: 57% !important;
      height: 69% !important;
    }
  }
}

@media (max-width: 440px) {
  .project-container {
    > img {
      width: 85% !important;
    }
  }
  .project-container {
    > div {
      width: 80% !important;
    }
  }
  .line-h1-container {
    > img {
      width: 40px !important;
      height: 3px !important;
      margin-top: 22px !important;
      margin-right: 13px !important;
    }
  }

  section {
    > p {
      margin-left: 20px !important;
      font-size: 14px !important;
    }
  }
  h2 {
    font-size: 22px !important;
  }
  .horizontal-line {
    margin-left: 4px !important;
    margin-right: 4px !important;
    width: 1px !important;
  }
  .project-container {
    > div {
      > p {
        font-size: 12px !important;
      }
    }
  }
  .tech-container {
    width: auto !important;
  }
  .background {
    height: 214% !important;
  }
}

@media (max-width: 340px) {
  .tech-container {
    > span {
      font-size: 14px !important;
    }
  }
}
