footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  background-color: rgba(20, 29, 47, 1);
  border-top: 3px solid rgba(0, 190, 232, 1);
  overflow-x: hidden;

  .name-imprint-container {
    display: flex;
    flex-direction: column;
    margin-left: 64px;

    > a {
      margin-top: -10px;
      text-decoration: none;
      &:hover {
        text-decoration: underline rgba(0, 190, 232, 1);
      }
    }
    .name {
      display: flex;
      font-size: 40px;
      font-weight: 900;
      >span{
        color: rgba(0, 190, 232, 1);
      }
      .letter-k {
        width: 16px;
        height: 25px;
        > img {
          width: 16px;
          height: 24px;
        }
      }
      .letter-ki {
        width: 6px;
        height: 26.35px;
        > img {
          width: 9.88px;
          height: 26px;
        }
      }
    }
  }
}

.c-name-container {
  display: flex;
  align-items: center;

  .c-letter {
    font-size: 12px;
    margin-right: 4px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    width: 14px;
    height: 14px;
    line-height: 12px;
  }
}

.button-links {
  width: 160px;
  display: flex;
  justify-content: space-between;
  margin-right: 64px;

  > div {
    width: 36px;
    height: 36px;
    >a{
    > img {
      cursor: pointer;
      width: 30px;
      height: 30px;
      transition: all 0.3s ease;
      &:hover {
        width: 36px;
        height: 36px;
      }
    }
  }
  }
}

.imprint-mobile-bottom {
  display: none;
}

//@media //////
@media (max-width: 800px) {
  .button-links {
    width: 142px !important;
    margin-right: 24px !important;
  }
}

@media (max-width: 640px) {
  .name-imprint-container {
    margin-left: 24px !important;
  }
}
@media (max-width: 580px) {
  footer {
    flex-direction: column !important;
  }

  .name-imprint-container {
    margin-top: 12px !important;
    margin-left: 0px !important;
  }
  .button-links {
    width: 200px !important;
    margin-right: 0px !important;
  }
  .imprint-mobile {
    display: none !important;
  }
  .imprint-mobile-bottom {
    display: block !important;
    margin-bottom: 12px !important;
    margin-top: -10px !important;
    color: rgba(0, 190, 232, 1) !important;
    text-decoration: none !important;
    &:hover {
      text-decoration: underline rgba(0, 190, 232, 1);
    }
  }
}
